.layout-container {
  height: 100%;
  // overflow: hidden;
  &__header {
    height: 55px;
  }
  &__body {
    height: 100%;
    overflow: auto;
  }
  &__center {
    height: calc(100% - 55px);
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
  }
  &__tabs {
    background: white;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
  &__table {
    margin-bottom: 20px;
  }
  /* #### Mobile Phones Portrait or Landscape #### */
  @media screen and (max-device-width: 640px) {
    &__center {
      height: calc(100% - 55px);
      width: 95%;
    }
  }
}
